<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="gebruiker">
      <h2 data-cy="gebruikerDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.gebruiker.detail.title">Gebruiker</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gebruiker.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.gebruiker.objectId">Object Id</span></dt>
        <dd>
          <span>{{ gebruiker.objectId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.gebruiker.naam">Naam</span></dt>
        <dd>
          <span>{{ gebruiker.naam }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/gebruiker', gebruiker.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
